@charset "utf-8";

* { padding:0; margin:0; box-sizing:border-box }
a { color:inherit; text-decoration: none;}
img { vertical-align: middle;}
ul, ol { list-style: none;}
.blind { position:absolute; width:1px; height:1px; 
    overflow:hidden; text-indent:-9999px;
}
button { border:none; background:none }
fieldset { border:none }
legend { display:none }
table { border-collapse: collapse; width:100% }

#onlyMobile {
    position:fixed; top:0; left:0; bottom:0; right:0; 
    background:#4ab8bc; z-index:99999999;
    display:flex;
    justify-content:center;
    align-items:center;
}
@media screen and (max-width:768px) {
    #onlyMobile { display:none }
}

#header .inner {
    display:flex; background:#33353f;
    justify-content:space-between;
    /* align-items:center; */
}
#header #navWrap {
    position:fixed; top:0; left:0;
    bottom:0; right:0;
    background:rgba(0,0,0,0.5);
    z-index:99999; display:none;
}
#header.on #navWrap {
    display:block;
}
#header #lnb { position:absolute;
    top:0; bottom:0;
    left:-290px; width:200px; 
    background:#fff;
    border:1px solid #000;
}
#header #navWrap .lnb_close {
    position:absolute;
    left:100%; top:0; 
}


/* 섹션구역 */
.mainContent .main_noti {
    background:#194c96 url(../images/main_noti.png) no-repeat;
    background-size:60px auto;
    color:#fff;
    padding:0 20px;
    height:50px; 
    overflow:hidden;
}
.mainContent .main_noti a { 
    display:block;
    height:50px;
    line-height:50px;
    padding-left:35px; 
}

#step_area { display:flex; flex-direction:column; height:406px; }
#step_area .bwrap:nth-child(1) {   flex:2; }
#step_area .bwrap:nth-child(2) {    flex:1; }
#step_area .bwrap .setArea {  display:flex;    
    flex-direction:row; 
    height:100%;  }
#step_area .bwrap .setArea > div { flex:1; }
#step_area .bwrap .setArea div.serch_wrap { 
    display:flex; flex-direction:column }
#step_area .bwrap .setArea div.serch_wrap > div {   flex:1;  }

#step_area .bwrap .setArea .service,
#step_area .bwrap .setArea .ty01,
#step_area .bwrap .setArea .ty02,
#step_area .bwrap .setArea .num,
#step_area .bwrap .setArea .reserve {
    display:flex;
    justify-content: center;
    align-items: center;
}
#step_area .bwrap .setArea .service { background:#4ab8bc; }
#step_area .bwrap .setArea .ty01 { background:#589dd2; }
#step_area .bwrap .setArea .ty02 { background:#ff912f; }
#step_area .bwrap .setArea .num { background:#589dd2; }
#step_area .bwrap .setArea .reserve { background:#8dca35;}


#footer {
    background:#222; color:#fff;
    padding:15px 5px 57px; 
}
#footer .quickMenu {
    position:fixed; bottom:0; left:0; right:0;
    height:42px; z-index:99999;
    background:#333; text-align:center;
    line-height:42px; 
    font-size:12px;
}
#footer .quickMenu .inner { 
    display:flex; 
    justify-content:space-around;
}

#footer .csCenter {
    display:flex;
    /* flex-direction:row; */
    flex-wrap:wrap;
}
#footer .csCenter > div {
   flex:50%;
}
#footer .csCenter .privacy {
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    /* text-align:right */
}


/* 회원가입 */
.joinPage {
    padding:20px 0 200px;
}

/* 로그인 */
.loginPage {
    padding:20px 0 200px;
}


/* 진료과 리스트 */
.medicalListPage { padding:20px 0;
    background:#555
}
#wrap h2.pageTitle {
    background:#fff;
    padding:20px;
    text-align:center;
    position:relative;
}
#wrap h2.pageTitle a {
    position:absolute; top:50%;
    transform:translateY(-50%);
    left:20px; 
}
#wrap h2.pageTitle a img {
    width:60px;
}

.medicalListContent ul.partList {
    display:flex;
    flex-wrap:wrap;
    padding:10px 5px;
}
.medicalListContent ul.partList li {
    /* 마지막 줄에 형제의 갯수가 모자랄때
       flex-grow나 flex-shrik 값이 0이어야 부모크기에 맞춰 확대 또는 축소되지 않으며,
       flex-basis 넓이를 유지하게 됨.
       flex: flex-grow(부모크기로확대)  flex-shrik(부모크기로축소)  flex-basis(자식넓이);   
    */
    flex:0 0 49%; background:#fff;
    margin:0.5%; padding:10px;
    border-radius:5px; 
}

.medicalListContent ul.partList li a {
    display:block;
}

@media screen and (max-width:500px) {
    .medicalListContent ul.partList li {
        flex:99%; background:#fff;
        margin:0.5%; padding:10px;
        border-radius:5px; 
    }
}


/* 진료과별 의사명단 */
.doctor {
    background:#ddd;
    padding:10px;
}
.doctor ul.dlist li {
    background:#fff;
    padding:10px;
    display:flex;
    margin:10px 0;
}
.doctor ul.dlist li div.img {
    flex:19%;
    margin-right:1%;
}
.doctor ul.dlist li div.img img { 
    width:100%;
}
.doctor ul.dlist li div.info {
    flex:80%;
}
.doctor ul.dlist li div.info p {
    margin:10px 0;
}
.doctor ul.dlist li div.info div { 
    padding:10px 0;
    border-top:1px solid #ddd;   
}


/* 게시판 공통 */
.boardPage { padding:20px 10px }
.boardContent .buttons {
    text-align:center; margin:20px 0px; 
}
.boardContent .buttons button {
    border:1px solid #000;
    background:#ddd;
    padding:5px 10px; 
}
.boardContent #page_num {
    display:flex; justify-content:center; margin:20px 0
}
.boardContent #page_num li { margin:0px 2px }


/* 게시판 목록 */
#board_list table { border-top:1px solid #000 }
caption { display:none }
#board_list .free_board col:nth-child(1) { width:60px }
#board_list .free_board col:nth-child(2) { width:auto }
#board_list .free_board col:nth-child(3) { width:100px }
#board_list .free_board col:nth-child(4) { width:80px }
#board_list .free_board col:nth-child(5) { width:100px }
#board_list .free_board col:nth-child(6) { width:60px }

#board_list .free_board th,
#board_list .free_board td { padding:6px 0px; text-align:center;
    border-bottom:1px solid #000;
}
#board_list .free_board td:nth-child(2) { text-align:left }



/* 게시판 글쓰기폼 */
#board_form li { display:flex; margin:10px 0px }
#board_form li span:nth-child(1) { flex:1 }
#board_form li span:nth-child(2) { flex:5 }
#board_form #irum { width:100%; height:30px }
#board_form #cont { width:100%; height:100px }